TEST_ENVIRONMENT=dev
PAUSE_APP_ON_DEBUG=true
AUTOMATION_UI_WIDTH=1366
AUTOMATION_UI_HEIGHT=768
API_DEBUG=true


#MONGO DB CONECCTION
 MONGODB_CONNECTION=user//password0@url/
 MONGODB_DB=database_name

#POSTGRES DB CONECCTION
POSTGRESSQL_HOST=localhost
POSTGRESSQL_PORT=5432
POSTGRESSQL_DB=development
POSTGRESSQL_USER=postgres
POSTGRESSQL_PASSWORD=postgres
POSTGRESSQL_SSL=false

# admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# regular user
REGULAR_USER_EMAIL=
REGULAR_USER_PASSWORD=