# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

# My ignores
.features-gen
allure-report
allure-results
node_modules
playwright-report
test-results
.env
src/resources/temp/.*